aniso8601==9.0.1
appdirs==1.4.4
chardet==5.2.0
certifi==2024.8.30
click==8.1.7
configparser==7.1.0
Flask==3.0.3
Flask-JWT==0.3.2
flask-restplus==0.13.0
Flask-SQLAlchemy==3.1.1
idna==3.10
itsdangerous==2.2.0
Jinja2==3.1.4
jsonschema==4.23.0
MarkupSafe==3.0.2
mysqlclient==2.2.5
passlib==1.7.4
PyJWT==2.9.0
python-dateutil==2.9.0.post0
pytz==2024.2
requests==2.32.3
six==1.16.0
SQLAlchemy==2.0.36
urllib3==2.2.3
Werkzeug==3.1.0
